<div th:fragment="footer" class="row pt-4 my-md-5 pt-md-5 border-top">
    <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2022</small>
    </div>
    <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">About Our School</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/administration">Administration</a></li>
        </ul>
    </div>
</div>